:root {
  --primary-grey: rgb(240, 240, 240);
}

.body__container {
  background-color: var(--primary-grey);
}

.choices__container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.choice__container {
  width: 7rem;
  height: 7rem;
  margin: 1rem;

  background-color: white;
  box-shadow: 0px 0.1px 1px 0.1px rgb(201, 199, 199);

  transition: all 0.4s;
}

.choice__container:hover {
  transform: translateY(-5px);
  box-shadow: -10px 20px 10px 0px rgb(184, 184, 184);
}

.choice__container:active {
  box-shadow: none;
  transform: translateY(0);
}
